.quizSummaryImage{
    width: 250;
    height: 250;
    border-width: 3;
    border-color: rgb(3, 81, 83);
    border-radius: 125; 
    margin-bottom: 20;
}

.summary-gridContainer{
    padding: 25;
    background-image: url("res://summaryviewbackground");
}

.shareIconContainer{
    width: 50;
    height: 50;
    border-radius: 25;
    background-color: rgba(3,81,83, 0.8);
    vertical-align: bottom;
    margin-right: 30;
}

.quizName{
    border-radius: 50%;
    background-color: rgba(256,256,256,0.65);
    background-color: black;
    height: 50;
    padding-right: 15;
    padding-left: 15;
    min-width: 180;
    font-size: 22;
    color: white;
    text-align: center;
    vertical-align: center;
    white-space: normal;
}
.scoreTitleText{
    font-size: 22;
    vertical-align: center;
    text-align: center;
}
.scoreText{
    vertical-align: center;
    text-align: center;
}
 
.userScoreText{
    color: black;
    font-size: 44;
} 

.averageScoreText{
    margin-left: 5;
    font-size: 22;
}

.communityScoreContainer{
    margin-top: 20;
}

