.quizList-image{
    width: 70;
    height: 70;
    border-width: 1;
    border-color: rgb(38, 30, 88);
}

.quizList-text{
    font-size: 15;
    vertical-align: center;
    margin-left: 20;
    color: white;
}

.quizList-itemContainer{
    padding: 10;
    background-color: rgb(116, 114, 114)
}

.quizList-headerText{
    font-size: 25;
    padding: 20;
    margin-bottom: 2;
    text-align: center;
    align-self: stretch;
    background-image: url("res://choosetopicbackground");
}

.quizList-quizAverage{
    text-align: center;
}

.quizList-container{
    background-color: silver;
}